Fuite/FuiteAdmin/Connected Services/ReportService/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FuiteAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FuiteAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReportContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportContract" nillable="true" type="tns:ReportContract" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Affected" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfReportContract" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfReportContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportContract" nillable="true" type="tns:ReportContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportContract" nillable="true" type="tns:ArrayOfReportContract" />
</xs:schema>