Fuite/FuiteAdmin/Connected Services/ReportService/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49280/ReportService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49280/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49280/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FuiteAPI" />
      <xsd:import schemaLocation="http://localhost:49280/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FuiteAPI.WebSrvPortal.Auth" />
      <xsd:import schemaLocation="http://localhost:49280/ReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
      <xsd:import schemaLocation="http://localhost:49280/ReportService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportService_AddReport_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReport" />
  </wsdl:message>
  <wsdl:message name="IReportService_AddReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_SetReport_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReport" />
  </wsdl:message>
  <wsdl:message name="IReportService_SetReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReports_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReports" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReports_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPictures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPictures" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetPictures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPicturesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetChanges_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChanges" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetChanges_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangesResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="IReportService_GetReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="IReportService_RemoveContentIp_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveContentIp" />
  </wsdl:message>
  <wsdl:message name="IReportService_RemoveContentIp_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveContentIpResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportService">
    <wsdl:operation name="AddReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/AddReport" message="tns:IReportService_AddReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/AddReportResponse" message="tns:IReportService_AddReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/SetReport" message="tns:IReportService_SetReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/SetReportResponse" message="tns:IReportService_SetReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReports">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetReports" message="tns:IReportService_GetReports_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetReportsResponse" message="tns:IReportService_GetReports_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPictures">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetPictures" message="tns:IReportService_GetPictures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetPicturesResponse" message="tns:IReportService_GetPictures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChanges">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetChanges" message="tns:IReportService_GetChanges_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetChangesResponse" message="tns:IReportService_GetChanges_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/GetReport" message="tns:IReportService_GetReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/GetReportResponse" message="tns:IReportService_GetReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveContentIp">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportService/RemoveContentIp" message="tns:IReportService_RemoveContentIp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportService/RemoveContentIpResponse" message="tns:IReportService_RemoveContentIp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ReportService" />
</wsdl:definitions>