Fuite/FuiteAdmin/Connected Services/ReportService/ReportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49280/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FuiteAPI" />
  <xs:element name="AddReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FuiteAPI" minOccurs="0" name="report" nillable="true" type="q1:ReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FuiteAPI" minOccurs="0" name="AddReportResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FuiteAPI" minOccurs="0" name="report" nillable="true" type="q3:ReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FuiteAPI" minOccurs="0" name="SetReportResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FuiteAPI" minOccurs="0" name="state" type="q5:State" />
        <xs:element minOccurs="0" name="minIndex" type="xs:int" />
        <xs:element minOccurs="0" name="maxIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FuiteAPI" minOccurs="0" name="GetReportsResult" nillable="true" type="q6:ResultReports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reportid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FuiteAPI" minOccurs="0" name="GetChangesResult" nillable="true" type="q7:ResultChanges" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticket" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FuiteAPI" minOccurs="0" name="GetReportResult" nillable="true" type="q8:ResultReports" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>