Fuite/FuiteAPITest/Connected Services/ServiceReference1/ReportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FuiteAPI.WebSrvPortal.Auth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FuiteAPI.WebSrvPortal.Auth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.1.103/RechercheFuite/ReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:import schemaLocation="http://172.16.1.103/RechercheFuite/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q1:PropertyChangedEventHandler" />
      <xs:element name="idAgenceField" nillable="true" type="xs:string" />
      <xs:element name="idServiceField" nillable="true" type="xs:string" />
      <xs:element name="idUserField" type="ser:guid" />
      <xs:element name="loginField" nillable="true" type="xs:string" />
      <xs:element name="loginMaximoField" nillable="true" type="xs:string" />
      <xs:element name="mailField" nillable="true" type="xs:string" />
      <xs:element name="matriculeField" nillable="true" type="xs:string" />
      <xs:element name="nomCompletField" nillable="true" type="xs:string" />
      <xs:element name="ticketAuthField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>