Fuite/FuiteAPITest/Connected Services/ServiceReference1/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FuiteAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FuiteAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.16.1.103/RechercheFuite/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FuiteAPI.WebSrvPortal.Auth" />
  <xs:import schemaLocation="http://172.16.1.103/RechercheFuite/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ReportContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportContract" nillable="true" type="tns:ReportContract" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Affected" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="All" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ResultReports">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfReportContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultReports" nillable="true" type="tns:ResultReports" />
  <xs:complexType name="ArrayOfReportContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportContract" nillable="true" type="tns:ReportContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportContract" nillable="true" type="tns:ArrayOfReportContract" />
  <xs:complexType name="ResultChanges">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfChange" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultChanges" nillable="true" type="tns:ResultChanges" />
  <xs:complexType name="ArrayOfChange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Change" nillable="true" type="tns:Change" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChange" nillable="true" type="tns:ArrayOfChange" />
  <xs:complexType name="Change">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FuiteAPI.WebSrvPortal.Auth" minOccurs="0" name="Operator" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="Operator_id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Report_id" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="state" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Change" nillable="true" type="tns:Change" />
  <xs:complexType name="ResultIp">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultIp" nillable="true" type="tns:ResultIp" />
</xs:schema>